[submodule "externals/c_headers"]
	path = externals/c_headers
	url = https://github.com/bright-tools/c_headers.git
[submodule "externals/git-vs-versioninfo-gen"]
	path = externals/git-vs-versioninfo-gen
	url = https://github.com/Thell/git-vs-versioninfo-gen.git
